@page "/Aktiver"
@rendermode InteractiveServer

<link rel="stylesheet" href="Aktiver.css" />

<div class="TopBar">
    <label class="AktivTitle">Dine aktiver</label>
    <label class="text-white mb-3" style="color:#ffaa54!important; max-width: 18rem; left:57%; top:15px; position:absolute;">Samlet formueværdi: @TotalValue</label>
    <label class="text-white mb-3" style="color:#ffaa54!important; max-width: 18rem; left:57%; top:40px; position:absolute;">Samlet friarvværdi: @ForcedInheritanceValue</label>

    <div class="BtnForAdd">
        <button type="submit" @onclick="AddAsset" class="btn btn-block">Tilføj et aktiv til din formue</button>
    </div>
</div>


<div class="container mt-4">

    <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 g-4">
        @foreach (var asset in AssetRepository.Instance.assets)
        {
            <div class="col">
                <EditForm Model="asset">
                    <DataAnnotationsValidator />
                    <div class="card h-100" style="width:100%">
                        <div class="card-header bg-black text-white">
                            <button type="button" @onclick="() => DeleteCard(asset)" class="btn-close" style="position: absolute; right: 0; background: transparent; border: none; color: red; font-size: 1.5rem;">
                                X
                            </button>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="AssetType">Vælg aktivtype</label>
                                <select @bind="asset.AssetType" class="form-control">
                                    <option value="Property">Ejendom</option>
                                    <option value="Vehicle">Køretøj</option>
                                    <option value="Item">Diverse ting</option>
                                    <option value="Stock">Værdipapirer</option>
                                    <option value="Money">Likvide midler</option>
                                </select>
                            </div>

                            @switch (asset.AssetType)
                            {
                                case AssetType.Property:
                                    <div class="form-group">
                                        <label for="Location">Addresse</label>
                                        <input type="text" id="Location" class="form-control" @bind="asset.Location" />
                                    </div>
                                    break;

                                case AssetType.Vehicle:

                                    <div class="form-group">
                                        <label for="Brand">Brand</label>
                                        <input type="text" id="Brand" class="form-control" @bind="asset.Brand" />
                                    </div>
                                    break;

                                case AssetType.Item:

                                    <div class="form-group">
                                        <label for="Name">Navn</label>
                                        <input type="text" id="Name" class="form-control" @bind="asset.Name" />
                                    </div>
                                    break;

                                case AssetType.Stock:
                                    <div class="form-group">
                                        <label for="Name">Værdipapir</label>
                                        <input type="text" id="Name" class="form-control" @bind="asset.Name" />
                                    </div>
                                    break;
                            }

                            <div class="form-group">
                                <label for="Value">Samlet værdi</label>
                                <input type="number" id="Value" class="form-control" @bind="asset.Value" @onblur="() => Update(asset)" />
                            </div>
                            <div class="form-group">
                                <label for="PercentageOwned">Ejerandel i procent</label>
                                <input type="number" id="PercentageOwned" class="form-control" @bind-value="asset.PercentageOwned" @onblur="() => Update(asset)" />
                                <ValidationMessage For="@(() => asset.PercentageOwned)" />
                            </div>

                            <div class="form-group">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Navn</th>
                                            <th>Procent</th>
                                            <th>Handling</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var row in asset.HeirRows)
                                        {
                                            <tr>
                                                <td>
                                                    <select class="heir-form" @bind="row.SelectedHeirId">
                                                        <option value="">Vælg arving</option>
                                                        @foreach (var heir in HeirRepository.Instance.Heirs)
                                                        {
                                                            <option value="@heir.Id">@heir.Name</option>
                                                        }
                                                    </select>
                                                </td>
                                                <td>
                                                    <input type="number" class="percentage-form" @bind="row.Percentage" />
                                                </td>
                                                <td>
                                                    <button type="button" class="AddBtn" @onclick="() => RemoveRow(asset, row)">Slet</button>
                                                </td>
                                            </tr>

                                        }
                                    </tbody>
                                </table>
                                <button type="button" class="AssignBtn" @onclick="() => AddRow(asset)">Tilføj arving</button>
                            </div>
                        </div>
                    </div>
                </EditForm>
            </div>
        }
    </div>
</div>


@code {
    double TotalValue = AssetRepository.ReturnTotalValue();
    double ForcedInheritanceValue = AssetRepository.ReturnMaxValue();
    int AktivCount = 0;
    int Number = 1;

    void AddRow(Asset asset)
    {
        asset.HeirRows.Add(new HeirRow
            {
                SelectedHeirId = Number++,
                Percentage = 0
            });
    }


    void RemoveRow(Asset asset, HeirRow row)
    {
        AssetRepository.RemoveRow(asset, row);
    }

    void Update(Asset a)
    {
        ClientViewModel.UpdateAsset();
        UpdateNumbers();
    }

    void DeleteCard(Asset asset)
    {
        AssetRepository.Instance.assets.Remove(asset);
        Update(asset);
    }

    private void AddAsset()
    {
        AktivCount++;
        AssetRepository.Instance.assets.Add(new Asset { AssetType = AssetType.None, Value = 0, PercentageOwned = 100, Id = AktivCount });
    }

    void UpdateNumbers()
    {
        TotalValue = AssetRepository.ReturnTotalValue();
        ForcedInheritanceValue = AssetRepository.ReturnMaxValue();
    }
}