@page "/Arvefordeling"
@rendermode InteractiveServer

<link rel="stylesheet" href="Arvefordeling.css" />


<div class="inheritance-tree">


    @if (Client.Married)
    {
        CalculateSpouse();

        <div class="married-grid">
            <div class="card h-100" style="position: relative; width: 280px;">
                <div class="card-header bg-black text-white">
                    <h5>@HeirRepository.Instance.Spouse.Name</h5>
                </div>
                <div class="card-body">
                    <label class="PercentageTxt" style="color:black">

                        <label>
                            <u>
                                Lovpligtige afgrænsninger
                            </u>
                        </label>

                        <label>
                            Arvebeløb: @Spouse.MinInheritanceAmount - @Spouse.MaxInheritanceAmount
                        </label>

                        <label>
                            Beløb tildelt: @Spouse.CurrentInheritanceAmount
                        </label>
                    </label>
                </div>
            </div>
        </div>

        @foreach (var kid in HeirRepository.Instance.ReturnKids())
        {
            CalculateAll(kid);

            <div class="kids-grid">
                <div class="card h-100" style="position: relative; width: 270px;">
                    <div class="card-header bg-black text-white">
                        <h5>@kid.Name</h5>
                    </div>

                    <div class="card-body">

                        <label>
                            <label class="PercentageTxt" style="color:black">
                                <label>
                                    <u>
                                        Lovpligtige afgrænsninger
                                    </u>
                                </label>

                                <label>
                                    Arvebeløb: @kid.MinInheritanceAmount - @kid.MaxInheritanceAmount
                                </label>

                                <label>
                                    Beløb tildelt: @kid.CurrentInheritanceAmount
                                </label>
                            </label>
                        </label>
                    </div>
                </div>
            </div>
        }

        @foreach (var other in HeirRepository.Instance.ReturnOther())
        {
            <div class="kids-grid">
                <div class="card h-100" style="position: relative; width: 270px;">
                    <div class="card-header bg-black text-white">
                        <h5>@other.Name</h5>
                    </div>

                    <div class="card-body">
                        <label class="PercentageTxt" style="color:black">
                            <label>
                                <u>
                                    Lovpligtige afgrænsninger
                                </u>
                            </label>

                            <label>
                                Arvebeløb: 0 - @OtherAmount
                            </label>

                            <label>
                                Beløb tildelt: @other.CurrentInheritanceAmount
                            </label>

                        </label>
                    </div>
                </div>
            </div>
        }
    }

</div>

@code {
    Heir Spouse = HeirRepository.Instance.Spouse;
    double OtherAmount = Client.TotalValue * 0.75;


    protected override void OnInitialized()
    {
        AmountCalculations.CalculateCurrentAmount();
    }

    void CalculateAll(Heir h)
    {
        KidCalculations.CalculateAll(h);
    }

    void CalculateSpouse()
    {
        SpouseCalculations.CalculateAll();
    }
}
