@page "/Arvefordeling"
@rendermode InteractiveServer

<link rel="stylesheet" href="Arvefordeling.css" />


<div class="inheritance-tree">

    @if (Client.Married)
    {
        <div class="married-grid">
            <div class="card h-100" style="position: relative; width: 270px;">
                <div class="card-header bg-black text-white">
                    <h5>Ægtefælle</h5>
                </div>

                <div class="card-body">

                    <label class="PercentageTxt" style="color:black">
                        <input type="text" class="nameTxt" @bind="HeirRepository.Instance.Spouse.Name" />
                        <br />
                        <label>
                            Arvebeløb: @SpouseCalculations.MinAmount() - @SpouseCalculations.MaxAmount()
                        </label>

                        <label>
                            Beløb tildelt: @HeirRepository.Instance.Spouse.CurrentInheritanceAmount
                        </label>
                    </label>
                </div>
            </div>
        </div>
    }

    @for (int i = 0; i < HeirRepository.Instance.ReturnKids().Count; i++)
    {
        var heir = HeirRepository.Instance.ReturnKids()[i];
        heir.MaxInheritancePercentage = KidCalculations.MaxPercentage();

        <div class="kids-grid">
            <div class="card h-100" style="position: relative; width: 270px;">
                <div class="card-header bg-black text-white">
                    <h5>Barn @(i + 1)</h5>
                </div>

                <div class="card-body">

                    <label>
                        <input type="text" class="nameTxt" @bind="heir.Name" />
                        <label class="PercentageTxt" style="color:black">
                            <label>
                                Arvefordeling: @KidCalculations.MinPercentage()% - @KidCalculations.MaxPercentage()%
                            </label>
                            <br />
                            <label>
                                Arvebeløb: @KidCalculations.MinAmount() - @KidCalculations.MaxAmount()
                            </label>
                            <label>
                                Beløb tildelt: @heir.CurrentInheritanceAmount
                            </label>
                        </label>
                    </label>
                </div>
            </div>
        </div>
    }

    @for (int i = 0; i < HeirRepository.Instance.ReturnOther().Count; i++)
    {
        var heir = HeirRepository.Instance.ReturnOther()[i];

        <div class="kids-grid">
            <div class="card h-100" style="position: relative; width: 270px;">
                <div class="card-header bg-black text-white">
                    <h5>Arving @(i + 1)</h5>
                </div>

                <div class="card-body">
                    <label>
                        <input type="text" class="nameTxt" @bind="heir.Name" />
                    </label>
                    <label>
                        Beløb tildelt: @heir.CurrentInheritanceAmount
                    </label>
                </div>
            </div>
        </div>
    }
</div>
@code {

    protected override void OnInitialized()
    {
        AmountCalculations.CalculateCurrentAmount();
    }
}
